<div class="container-fluid clearfix">
    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © @DateTime.Now Serkan Şahin</span>
    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="/Writer/Index" target="_blank">Yazar Sayfası </a> from Bootstrapdash.com</span>
</div>