@model IEnumerable<BlogSite.Entities.Concrete.Category>

<table>
    <thead>

        <tr>
            <th>Id</th>
            <th>CategoryName</th>
            <th>Status</th>
        </tr>
        
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Status</td>
            </tr>
        }

    </tbody>
</table>