@model IEnumerable<Blog>

@foreach (var item in Model)
{
    <div class="blog-grids row mb-3">
        <div class="col-md-5 blog-grid-left">
            <a href="/Blog/Details/@item.Id">
                <img src="~/@item.BlogThumbnailImage" class="card-img-top img-fluid" alt="">
            </a>
        </div>
        <div class="col-md-7 blog-grid-right">

            <h5>
                <a href="/Blog/Details/@item.Id">
                   
                    @if (item.Content.Length>100)
                    {
                        @item.Content.Substring(0, 100)
                    }
                    else
                    {
                        @item.Content 
                    }
                    ...
                </a>
            </h5>
            <div class="sub-meta">
                <span>
                    <i class="far fa-clock"></i>@item.CreatedDate
                </span>
            </div>
        </div>

    </div>
}
